* {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif; }

nav {
  border-bottom: 1px solid RGBA(240, 240, 240, 1);
  height: 65px;
  width: 100%;
  position: relative;
  overflow: visible; }

nav a {
  font-size: 24px;
  margin: 5px;
  text-decoration: none;
  color: RGBA(143, 144, 138, 1); }

nav span {
  font-size: 16px;
  margin: 5px;
  color: RGBA(143, 144, 138, 1); }

.topSpace {
  width: 100%;
  height: 18px; }

.logo {
  margin-left: 20px; }

.logo img {
  width: 90px;
  height: 90px;
  position: absolute;
  top: -20px;
  left: 0; }

.link {
  font-size: 12px;
  color: RGBA(143, 144, 138, 1); }

.postLink {
  position: absolute;
  right: 75px;
  top: 10px; }

.add {
  font-size: 24px;
  margin: 0; }

.dropDown {
  background-color: RGBA(237, 233, 222, 0.7);
  border: 1px RGBA(143, 144, 138, 1) solid;
  border-radius: 3px;
  position: absolute;
  top: 65px;
  right: 15px;
  height: 105px;
  visibility: hidden;
  list-style-type: none;
  -webkit-transiton: opacity 8s;
  -moz-transition: opacity 8s;
  -ms-transition: opacity 8s;
  -o-transition: opacity 8s;
  -transition: opacity 8s; }

.ddPoint {
  padding: 5px;
  display: inline-block;
  width: 75px;
  height: 100px;
  float: right; }

.ddPoint:hover .drop {
  visibility: visible;
  display: block;
  opacity: 1;
  z-index: 10; }

.dropLink {
  font-size: 14px;
  margin: 15px;
  padding: 0px; }

.logout {
  border-top: 1px RGBA(143, 144, 138, 1) solid; }

nav a:hover {
  border-bottom: 1px RGBA(143, 144, 138, 1) solid; }

.dropDown ul {
  list-style-type: none;
  margin-left: 0px; }

.avatar {
  width: 50px;
  height: 50px; }

.avatarDiv {
  height: 48px;
  width: 48px;
  background-color: RGBA(211, 214, 219, 1);
  border-radius: 100%;
  position: absolute;
  top: 2px;
  right: 10px;
  overflow: hidden; }

.avatarDiv:hover {
  background-color: RGBA(143, 144, 138, 1); }

.portrait {
  width: 40px;
  height: 40px;
  display: inline-block;
  margin: 5px 5px;
  color: white; }

.profPortrait {
  color: black; }

label {
  color: RGBA(143, 144, 138, 1); }

legend {
  color: RGBA(143, 144, 138, 1); }

.signin span {
  color: RGBA(143, 144, 138, 1);
  padding: 10px;
  margin-left: 0; }

.signin p {
  color: RGBA(143, 144, 138, 1);
  padding: 10px; }

.signin li {
  color: RGBA(143, 144, 138, 1);
  padding: 5px; }

.login {
  padding: 13px;
  color: white; }

.signin {
  margin-bottom: 75px; }

.signin i {
  margin-right: 10px; }

.checkbox {
  display: inline-block;
  width: 30%; }

input[type="text"],
input[type="checkbox"],
input[type="radio"] {
  margin: 0 0 0.5rem 0; }

.apppostform {
  margin: 20px; }

.addpost label {
  margin-top: 15px; }

.addpostbtn {
  margin-top: 20px;
  margin-left: 140px; }

#titleInput {
  border: none;
  box-shadow: none;
  font-size: 32px;
  font-style: bold;
  color: RGBA(143, 144, 138, 1);
  text-align: right; }

.addPostDivider {
  border-top: 1px RGBA(240, 240, 240, 1) solid; }

.addPostDiv {
  display: inline-block;
  float: right; }

.inputDiv {
  display: inline-block;
  float: right; }

#postInput {
  border: none;
  box-shadow: none;
  font-style: bold;
  color: RGBA(143, 144, 138, 1); }

#gistInput {
  border: none;
  box-shadow: none;
  font-style: bold;
  color: RGBA(143, 144, 138, 1); }

.tagPostHead {
  font-size: 18px; }

input[type="text"] {
  border-style: none;
  box-shadow: none; }

#tags_dropdown {
  overflow-y: auto;
  max-height: 150px; }

.expertise {
  cursor: default; }

.radiobtn input {
  display: inline-block;
  vertical-align: middle;
  float: left; }

.radiobtn label {
  display: inline-block;
  vertical-align: middle;
  float: left; }

.panel {
  position: fixed;
  top: 0;
  right: 0;
  display: block;
  top: 65px;
  margin: 0;
  min-height: 72vh;
  min-width: 30vw;
  background-color: RGBA(250, 250, 250, 1); }

.filterHead {
  font-size: 14px;
  font-style: bold; }

.filterPostsDivider {
  width: 100%;
  height: 1px;
  border-bottom: 1px RGBA(240, 240, 240, 1) solid;
  margin-top: 50px;
  margin-bottom: 30px;
  position: relative; }

.filterHeadDiv {
  border-top: RGBA(143, 144, 138, 1) solid 1px;
  width: 130px;
  height: 20px;
  padding: 2px 5px;
  position: absolute;
  top: 0;
  left: 0; }

.feedSortSelect {
  width: 100px;
  position: absolute;
  left: 71%;
  height: 30px;
  font-size: 10px; }

.filterby {
  font-size: 1.2em;
  clear: both; }

.checkbox.filter {
  width: 45%; }

.radiobtn {
  display: inline-block; }

.xpDivider {
  margin-top: 30px; }

.xpFilterBtn {
  background-color: RGBA(254, 254, 254, 1);
  border-radius: 3px;
  border: 1px solid RGBA(239, 239, 239, 1);
  z-index: 10;
  height: 25px;
  width: 100px; }

.xpFilterBtn input {
  visibility: hidden; }

.xpFilterBtn label {
  font-size: 10px;
  padding: 5px; }

.panel {
  border: none; }

.tagList {
  display: block;
  height: 160px; }

.tagDiv {
  background-color: RGBA(254, 254, 254, 1);
  display: inline-block;
  border-radius: 3px;
  float: left;
  margin: 5px;
  border: 1px solid RGBA(239, 239, 239, 1);
  cursor: pointer; }

.tagDiv:hover {
  background-color: RGBA(232, 241, 234, 1); }

.tagText {
  padding: 10px;
  color: RGBA(102, 102, 102, 1);
  font-size: 12px; }

.tagSearchHead {
  margin-top: 15px; }

.tagSearch {
  margin-bottom: 0px; }

#tagSearch {
  border: 1px solid RGBA(239, 239, 239, 1);
  border-radius: 3px; }

.searchBtn {
  background-color: white;
  border: 2px solid RGBA(239, 239, 239, 1);
  margin-top: 30px; }

.aboutheader {
  text-align: center;
  margin-top: 10px; }

.team-member {
  max-width: 320px;
  margin: 30px auto;
  text-align: center; }
  .team-member .memberpic {
    width: 100%;
    max-width: 300px;
    margin: 0 auto 20px auto;
    opacity: 0.75;
    border-radius: 50%; }
    .team-member .memberpic:hover {
      opacity: 1;
      -moz-box-shadow: 0 0 10px #ccc;
      -webkit-box-shadow: 0 0 10px #ccc;
      box-shadow: 0 0 10px #ccc; }
  .team-member h4 {
    font-weight: bold; }
  .team-member span {
    display: block;
    font-size: 1em;
    margin-bottom: 10px;
    font-weight: 600;
    color: #999; }
  .team-member p {
    margin-bottom: 18px; }
  .team-member a {
    font-weight: bold;
    border-bottom: 1px solid transparent;
    -webkit-transition: color 0.3s;
    transition: color 0.3s; }
    .team-member a:-webkit-any-link {
      color: white;
      text-decoration: underline;
      cursor: auto; }
    .team-member a:hover .fa {
      font-size: 1.5em; }
  .team-member .fa {
    display: inline-block;
    font-size: 1.25em;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0); }
  .team-member .social-btn {
    display: inline-block;
    width: 54px;
    height: 54px;
    color: #fff;
    line-height: 54px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    margin: 8px 4px;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s; }
  .team-member .sb-linkedin {
    background-color: #0976b4; }
  .team-member .sb-email {
    background-color: #44c456; }
  .team-member .sb-github {
    background-color: black; }
  .team-member .sb-facebook {
    background-color: #3b5998; }
  .team-member .sb-twitter {
    background-color: #55acee; }
  .team-member .social-btn.sb-sm {
    width: 30px;
    height: 30px;
    font-size: 0.65em;
    line-height: 30px;
    margin: 6px 4px; }

.abouttech {
  border: 1px dotted grey; }

.profile {
  text-align: center; }

.profilePortraitDiv {
  width: 180px;
  height: 180px;
  background-color: RGBA(211, 214, 219, 1);
  border-radius: 100%;
  overflow: hidden;
  margin: 50px auto 10px auto; }

.profPortrait {
  color: white;
  margin: 3px;
  margin-top: 5px; }

.profileTitle {
  font-size: 44px;
  font-style: bold;
  margin-bottom: 50px; }

.spaceDiv {
  width: 100%;
  height: 30px; }

.stats {
  margin: 0 auto; }

.stats span {
  font-size: 11px;
  display: block; }

#postNumber {
  margin-top: 10px;
  font-style: bold;
  font-size: 14px; }

#bitsNumber {
  margin-top: 10px;
  font-style: bold;
  font-size: 14px; }

.profSection {
  display: inline-block; }

.profSection {
  width: 120px;
  height: 65px; }

.profLinks a {
  color: RGBA(143, 144, 138, 1); }

.profLinks span {
  margin-bottom: 10px; }

.codeBits {
  border-left: 1px solid RGBA(240, 240, 240, 1);
  border-right: 1px solid RGBA(240, 240, 240, 1); }

.recentPosts {
  overflow: hidden;
  max-width: 600px;
  margin: auto; }

.recentPostsDivider {
  width: 100%;
  height: 1px;
  border-bottom: 1px RGBA(240, 240, 240, 1) solid;
  margin-top: 50px;
  margin-bottom: 20px;
  position: relative; }

.recentPostsHeader span {
  border: RGBA(143, 144, 138, 1) solid 1px;
  font-size: 11px;
  width: 130px;
  height: 20px;
  padding: 2px 5px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -10px;
  margin-left: -65px; }

.post {
  font-size: 13px;
  font-style: italic; }

.profilePosts {
  display: block;
  margin: 0 auto;
  margin-bottom: 30px; }

.nullSearch {
  height: 460px; }

.container {
  min-height: 520px; }

.feedView {
  position: relative; }

.feed {
  margin-top: 50px; }

.feedpost {
  padding-bottom: 80px;
  padding-left: 150px;
  position: relative; }

.postDivider {
  position: absolute;
  bottom: -20px;
  left: 210px;
  width: 70%;
  height: 1px;
  background-color: RGBA(240, 240, 240, 1);
  margin-bottom: 60px; }

.postAvatar {
  width: 45px;
  height: 45px;
  border-radius: 100%; }

.postUser {
  margin-left: 5px; }

strong {
  display: block;
  font-size: 20px; }

.userDate {
  display: block; }

.thumbTime {
  position: absolute;
  color: RGBA(157, 157, 157, 1);
  font-size: 11px;
  top: 30px;
  left: 70px; }

.postHead {
  display: block; }

.postTitle {
  color: black;
  font-size: 24px;
  font-style: bold; }

.thumbText {
  font-size: 13px; }

.pBorder {
  border-left: solid 1px RGBA(31, 80, 128, 1);
  position: relative;
  display: block; }

.tagLabel {
  display: inline-block;
  float: left; }

.voteDivTop {
  position: absolute;
  top: 30px;
  left: -25px; }

.voteDivBot {
  position: absolute;
  text-align: center;
  top: 70px;
  left: -25px; }

.votes {
  position: absolute;
  top: 50px;
  left: -22px; }

.voteDiv i {
  cursor: pointer; }

.upVote {
  color: gold; }

.downVote {
  color: blue; }

.commentsAndReplies {
  list-style: none; }
  .commentsAndReplies li {
    margin-left: 20px; }

.commentHead {
  margin-top: 10px; }

.spAvatar {
  border-radius: 100%;
  height: 50px;
  width: 50px; }

.gist * {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace; }

.gist .gist-file:first-child {
  margin-top: 1em; }

.replyForm {
  margin-bottom: 1em; }

.commentAvatar {
  border-radius: 100%;
  height: 40px;
  width: 40px; }

.feedcomment:hover .editOrDelete {
  display: inline-block;
  cursor: pointer; }

.commenterInfo {
  display: inline-block; }

.editOrDelete {
  float: right;
  display: none; }

.foot {
  float: right;
  display: inline-block;
  height: 25px;
  width: 25px;
  padding: 5px; }

.pb {
  float: right;
  display: inline-block; }

.fText {
  font-size: 11px;
  color: RGBA(143, 144, 138, 1);
  font-style: italic;
  display: inline-block;
  padding: 5px; }

.poweredBy {
  vertical-align: middle;
  float: right;
  display: inline-block; }

.copy {
  display: inline-block; }

footer {
  overflow: auto;
  padding-bottom: 22px; }

.fDivider {
  font-size: 13px;
  color: RGBA(143, 144, 138, 1);
  padding: 5px; }

hr {
  border: solid 1px RGBA(240, 240, 240, 1); }

.footBottom {
  margin-top: 10px; }

.fLink {
  margin: 5px; }
