.container {
  position: relative; }

.recentPosts {
  margin: 0 10px; }

.panel {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  min-height: 67vh;
  padding-bottom: 0; }

.tagList {
  height: 14vh; }

.pushdown {
  display: block;
  height: 60vh; }

.feed {
  float: left; }

.feedpost {
  float: left;
  padding-left: 30px; }

.feedSortSelect {
  left: 80%; }

.apppostform {
  margin: 20px 30px; }

.recentPosts {
  overflow: hidden;
  max-width: 600px;
  margin: 0 auto; }

.filterHeadDiv {
  display: block; }

.addPostDiv {
  display: inline-block; }

.inputDiv, .tagsDiv {
  display: block;
  margin-top: 35px;
  border: 1px RGBA(240, 240, 240, 1) solid; }

.feedSortSelect {
  left: 70%; }

.tagsInput {
  margin-top: 0; }

.tagsDiv {
  border: none; }

.singlepost {
  padding: 0 40px; }
