body {
  min-width: 250px; }

.sidebar {
  display: none; }

.feedFilter {
  display: none; }

.feedpost {
  padding-left: 30px; }

.postDivider {
  display: none; }

.pushdown {
  display: none; }

.filterHeadDiv {
  display: block; }

.addPostDiv {
  display: inline-block; }

.inputDiv, .tagsDiv {
  display: block;
  margin-top: 35px;
  border: 1px RGBA(240, 240, 240, 1) solid; }

#titleInput, #gistInput {
  font-size: 18px; }

.feedSortSelect {
  left: 70%; }

.tagsInput {
  margin-top: 0; }

.tagsDiv {
  border: none; }

.singlepost {
  padding: 0 20px; }
