<h2 class="aboutheader">About the CodeBytes Crew</h2>

<div class="row"> <!-- Team Members -->

  <div class="large-3 medium-6 columns"> <!-- Meade Slocomb -->
    <div class="team-member">
      <img class="memberpic img-circle" src="https://avatars0.githubusercontent.com/u/12128639?v=3&s=400" alt="meadeSlocomb">
      <!-- https://octodex.github.com/images/privateinvestocat.jpg -->
      <h4>Meade Slocomb</h4>
      <span>Front End Web Developer</span>
      <div class="social-buttons">
        <a href="https://www.linkedin.com/pub/meade-slocomb/bb/61a/a7" class="social-btn sb-linkedin sb-sm">
          <i class="fa fa-linkedin"></i>
        </a>
        <a href="mailto:meade.slocomb@gmail.com" class="social-btn sb-email sb-sm">
          <i class="fa fa-envelope"></i>
        </a>
        <a href="https://github.com/MeadeSlocomb" class="social-btn sb-github sb-sm">
          <i class="fa fa-github"></i>
        </a>
      </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </div>
  </div> <!-- End Meade Slocomb -->

  <div class="large-3 medium-6 columns"> <!-- Vi Pham -->
    <div class="team-member">
      <img class="memberpic img-circle" src="https://avatars0.githubusercontent.com/u/10713248?v=3&s=460" alt="viPham">
      <!-- https://octodex.github.com/images/minion.png -->
      <h4>Vi Pham</h4>
      <span>Front End Web Developer</span>
      <div class="social-buttons">
        <a href="https://www.linkedin.com/in/tvpham11" class="social-btn sb-linkedin sb-sm">
          <i class="fa fa-linkedin"></i>
        </a>
        <a href="mailto:tvpham11@gmail.com" class="social-btn sb-email sb-sm">
          <i class="fa fa-envelope"></i>
        </a>
        <a href="https://github.com/tvpham11" class="social-btn sb-github sb-sm">
          <i class="fa fa-github"></i>
        </a>
        <a href="https://twitter.com/vi_pham" class="social-btn sb-twitter sb-sm">
          <i class="fa fa-twitter"></i>
        </a>
      </div>
      <p>Programmer who thoroughly enjoys employing logic and unconventional thinking to solve both real-world problems and those more geared towards neuronic workout. Optimistic realist. Bookworm. Onlooker. Traveler. Kitchen experimenter. Board game addict. Hispanoparlante. New Englander at heart.</p>
    </div>
  </div> <!-- End Vi Pham -->

  <div class="large-3 medium-6 columns"> <!-- Randy Mitchell -->
    <div class="team-member">
      <img class="memberpic img-circle" src="https://avatars2.githubusercontent.com/u/2989231?v=3&s=400" alt="randyMitchell">
      <!-- https://octodex.github.com/images/daftpunktocat-guy.gif -->
      <h4>Randy Mitchell</h4>
      <span>Back End Web Developer</span>
      <div class="social-buttons">
        <a href="https://www.linkedin.com/in/randyjmitchell" class="social-btn sb-linkedin sb-sm">
          <i class="fa fa-linkedin"></i>
        </a>
        <a href="mailto:randy@randyjmitchell.com" class="social-btn sb-email sb-sm">
          <i class="fa fa-envelope"></i>
        </a>
        <a href="https://github.com/WebEpic" class="social-btn sb-github sb-sm">
          <i class="fa fa-github"></i>
        </a>
        <a href="https://twitter.com/randyjmitchell" class="social-btn sb-twitter sb-sm">
          <i class="fa fa-twitter"></i>
        </a>
      </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </div>
  </div> <!-- End Randy Mitchell -->

  <div class="large-3 medium-6 columns"> <!-- Taylor Daugherty -->
    <div class="team-member">
      <img class="memberpic img-circle" src="https://avatars0.githubusercontent.com/u/9401828?v=3&s=400" alt="taylorDaugherty">
      <!-- https://octodex.github.com/images/luchadortocat.png -->
      <h4>Taylor Daugherty</h4>
      <span>Back End Web Developer</span>
      <div class="social-buttons">
        <a href="https://www.linkedin.com/pub/taylor-daugherty/aa/b83/669" class="social-btn sb-linkedin sb-sm">
          <i class="fa fa-linkedin"></i>
        </a>
        <a href="mailto:mdaugherty6@gmail.com" class="social-btn sb-email sb-sm">
          <i class="fa fa-envelope"></i>
        </a>
        <a href="https://github.com/taylor-d" class="social-btn sb-github sb-sm">
          <i class="fa fa-github"></i>
        </a>
        <a href="https://twitter.com/mdaugherty" class="social-btn sb-twitter sb-sm">
          <i class="fa fa-twitter"></i>
        </a>
      </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </div>
  </div> <!-- End Taylor Daugherty -->

</div> <!-- End Team Members -->
