<h2>About CodeBytes</h2>

<div class="large-12 columns">
  <h3 class="aboutheader">Under the hood</h3>
  <div class="large-6 columns panel abouttech">
    <h4>Front-end technology</h4>
    <ul>
      <li><a href="">placeholder</a></li>
      <li><a href="">placeholder</a></li>
      <li><a href="">placeholder</a></li>
      <li><a href="">placeholder</a></li>
      <li><a href="">placeholder</a></li>
      <li><a href="">placeholder</a></li>
      <li><a href="">placeholder</a></li>
    </ul>
  </div>

  <div class="large-6 columns panel abouttech">
    <h4>Back-end technology</h4>
    <ul>
      <li><a href="">placeholder</a></li>
      <li><a href="">placeholder</a></li>
      <li><a href="">placeholder</a></li>
      <li><a href="">placeholder</a></li>
      <li><a href="">placeholder</a></li>
      <li><a href="">placeholder</a></li>
      <li><a href="">placeholder</a></li>
    </ul>
  </div>
</div>

<hr/>

<div class="large-12 columns">
  <h3 class="aboutheader">The Crew</h3>
  <div class="large-6 columns">
    <ul class="small-block-grid-1 large-block-grid-2">
      <img src="https://octodex.github.com/images/privateinvestocat.jpg" class="teamphoto"/>
      <img src="https://octodex.github.com/images/luchadortocat.png" class="teamphoto"/>
    </ul>
  </div>

  <div class="large-6 columns">
    <ul class="small-block-grid-1 large-block-grid-2">
      <img src="https://octodex.github.com/images/daftpunktocat-guy.gif" class="teamphoto"/>
      <img src="https://octodex.github.com/images/minion.png" class="teamphoto"/>
    </ul>
  </div>
</div>
