<form>
  <div class="row addpost"> <!-- Post Title -->
    <div class="large-12 columns">
      <label>Post Title/Question:
        <input type="text" placeholder="Post Title or Question"/>
      </label>
    </div>
  </div> <!-- End Post Title -->

   <div class="row addpost">
    <div class="large-6 columns"> <!-- Select programming language -->
      <label>Select Language:
        <select>
          <option value="Ruby">Ruby</option>
          <option value="Python">Python</option>
          <option value="JavaScript">JavaScript</option>
          <option value="CPlusPlus">C++</option>
          <option value="CSharp">C#</option>
          <option value="ObjectiveC">Objective-C</option>
          <option value="Python">Python</option>
          <option value="SQL">SQL</option>
          <option value="PHP">PHP</option>
          <option value="Java">Java</option>
          <option value="C">C</option>
        </select>
      </label>
    </div> <!-- End select programming language -->

    <div class="large-6 columns"> <!-- Select expertise level -->
      <label>Select Expertise Level:</label>
      <input type="radio" name="expertiselvl" value="noob" id="nooblvl"><label for="nooblvl">Noob</label>
      <input type="radio" name="expertiselvl" value="intermed" id="intermedlvl"><label for="intermedlvl">Intermediate</label>
      <input type="radio" name="expertiselvl" value="advanced" id="advancedlvl"><label for="advancedlvl">Advanced</label>
      <input type="radio" name="expertiselvl" value="expert" id="expertlvl"><label for="expertlvl">Expert</label>
    </div> <!-- End elect expertise level -->

  </div>


  <div class="row addpost"> <!-- Gist Selection -->
    <div class="large-12 columns">
      <label>Select Gist:
        <select>
          <option value="gist1">Gist 1</option>
          <option value="gist2">Gist 2</option>
          <option value="gist3">Gist 3</option>
          <option value="gist4">Gist 4</option>
        </select>
      </label>
    </div>
  </div> <!-- End Gist Selection -->

  <div class="row addpost">
    <div class="large-12 columns">
      <label>Details:
        <textarea placeholder="Post Details"></textarea>
      </label>
    </div>
  </div>

  <a href="#" class="button tiny radius addpostbtn">Submit</a>
  <!-- <button class="tiny radius">Submit</button> -->

</form>
