<form>
  <div class="row addpost"> <!-- Post Title -->
    <div class="large-12 columns">
      <label>Post Title/Question:
        <input type="text" placeholder="Post Title or Question"/>
      </label>
    </div>
  </div> <!-- End Post Title -->

  <div class="row addpost"> <!-- Gist Selection -->
    <div class="large-12 columns">
      <label>Select Gist:
        <select>
          <option value="gist1">Gist 1</option>
          <option value="gist2">Gist 2</option>
          <option value="gist3">Gist 3</option>
          <option value="gist4">Gist 4</option>
        </select>
      </label>
    </div>
  </div> <!-- End Gist Selection -->

  <div class="row addpost">
    <div class="large-12 columns">
      <label>Details:
        <textarea placeholder="Post Details"></textarea>
      </label>
    </div>
  </div>

  <a href="#" class="button tiny radius addpostbtn">Submit</a>
  <!-- <button class="tiny radius">Submit</button> -->

</form>
