<form class="apppostform">

  <!-- Title Input -->
  <div class="row addpost">
    <div class="large-12 columns">
      <div class="filterPostsDivider addPostDivider">
        <div class="filterHeadDiv large-2 medium-3 columns">
          <span class="filterHead">TITLE</span>
        </div>
        <div class="inputDiv large-10 medium-9 columns">
          <input id="titleInput" ng-model="post.title" type="text"/>
        </div>
      </div>
    </div>
  </div>


  <div class="row addpost">
    <!-- XP Level -->
    <div class="large-4 medium-12 columns">
      <div class="filterPostsDivider addPostDivider">
        <div class="filterHeadDiv addPostDiv"><span class="filterHead">XP LEVEL</span>
        </div>
          <select ng-model="xpParam" class="feedSortSelect">
            <option value="" selected>All</option>
            <option value="noob">Noob</option>
            <option value="junior">Junior</option>
            <option value="senior">Senior</option>
          </select>
      </div>
    </div>

    <!-- Gist Url -->
    <div class="large-7 medium-12 columns">
      <div class="filterPostsDivider addPostDivider">
        <div class="filterHeadDiv large-2 medium-3 columns">
          <span class="filterHead">GIST ID</span>
        </div>
        <div class="inputDiv large-10 medium-9 columns">
          <input id="gistInput" ng-model="post.gist_id" type="text"/>
        </div>
      </div>
    </div>
  </div>

  <!-- Post Content -->
  <div class="row addpost">
    <div class="large-12 columns">
      <div class="filterPostsDivider addPostDivider">
        <div class="filterHeadDiv large-2 medium-3 columns">
          <span class="filterHead">POST DETAILS</span>
        </div>
        <div class="inputDiv large-10 medium-9 columns">
          <textarea id="postInput" ng-model="post.content"></textarea>
        </div>
      </div>
    </div>
  </div>

  <!-- Tag Section -->
    <div class="row addpost">
      <div class="large-12 columns">
        <div class="filterPostsDivider addPostDivider">
          <div class="filterHeadDiv large-2 medium-3 columns">
            <span class="filterHead">TAGS</span>
          </div>
          <div class="tagsDiv large-10 medium-9 columns">
            <tags-input ng-model="tags" class="tagsInput">
              <auto-complete source="loadTags($query)"></auto-complete>
            </tags-input>
          </div>
        </div>
      </div>
    </div>

    <div class="row addpost">
      <div class="large-12 columns">
  <!-- Submit Button -->
        <a href="#" class="button tiny radius addpostbtn" ng-click="addPost(post)">Submit</a>
      </div>
    </div>
</form>


