<li class="commentsAndReplies">
  <div class="commentHead"> <!-- Comment Head -->
    <div class="commenterInfo">
      <img class="commentAvatar" ng-src="{{ member.user.avatar }}"/>
      <a href="#/profile/{{ member.user.id }}" class="postUser">{{ member.user.username }}</a>
    </div>
    <div class="editOrDelete" ng-if="(member.user.id === currentUserId) && isLoggedIn()">
      <span ng-click="editorEnabled=!editorEnabled"><i class="fa fa-pencil-square-o"></i></span>
      <span ng-click="deleteComment(member.id, $index)"><i class="fa fa-minus-square-o"></i></span>
    </div>
  </div> <!-- End Comment Head -->

  <!-- Comment Content -->
  <p ng-hide="editorEnabled">{{ member.content }}</p>

  <p>Comment ID: {{ member.id }}</p>
  <p>Parent ID: {{ member.parent_id }}</p>

  <div ng-show="editorEnabled">
    <form class="editComm" name="commentForm"> <!-- Edit Comment -->
      <textarea ng-model="member.content" value="{{ member.content }}"></textarea>
      <br>
      <a href="#" class="button tiny radius editcommentbtn" ng-click="editComment(member, member.id)">Submit</a>
    </form> <!-- End Edit Comment -->

  </div>

  <a href="" class="button tiny radius addreplybtn" ng-click="showForm = !showForm"><i class="fa fa-reply"></i></a>

  <form class="large-12 columns addRep" ng-show="showForm" ng-if="isLoggedIn()" ng-submit="addReply(reply, member.id)" name="replyForm"> <!-- Reply Form -->
    <textarea id="commentInput" ng-model="reply.content" placeholder="Got a reply?"></textarea>
    <br>
    <button class="tiny radius submitreplybtn">Submit</button>
  </form> <!-- End Reply Form -->
</li>
