<form class="apppostform">

  <div class="row addpost"> <!-- Post Title -->
    <div class="large-12 columns">
        <input id="titleInput" ng-model="post.title" type="text" value="{{ post.title }}"/>
    </div>
  </div> <!-- End Post Title -->

  <div class="row addpost"> <!-- Expertise Level -->
    <div class="large-12 columns">
      <label class="expertise">Select Expertise Level:</label>
      <div class="radiobtn">
        <input ng-model="xp.text" type="radio" name="expertiselvl" value="Noob" id="nooblvl"><label for="nooblvl">Noob</label>
      </div>
      <div class="radiobtn">
        <input ng-model="xp.text" type="radio" name="expertiselvl" value="Intermediate" id="intermedlvl"><label for="intermedlvl">Junior</label>
      </div>
      <div class="radiobtn">
        <input ng-model="xp.text" type="radio" name="expertiselvl" value="Advanced" id="advancedlvl"><label for="advancedlvl">Senior</label>
      </div>
    </div>
  </div> <!-- End Expertise Level -->

  <div class="row addpost"> <!-- Gist Url -->
    <div class="large-12 columns">
        <input id="gistInput" ng-model="post.gist_id" type="text" value="{{ post.gist_id }}"></textarea>
    </div>
  </div> <!-- End Gist Url -->

  <div class="row addpost"> <!-- Post Content -->
    <div class="large-12 columns">
        <textarea id="postInput" ng-model="post.content" value="{{ post.content }}"></textarea>
    </div>
  </div> <!-- End Post Content -->

<!-- Tag Section -->
  <div class="row addpost">
    <div class="large-12 columns">
      <tags-input ng-model="tags" class="tagsInput">
        <auto-complete source="loadTags($query)"></auto-complete>
      </tags-input>
    </div>
  </div>

  <a href="#" class="button tiny radius addpostbtn" ng-click="updatePost(post)">Update</a>

</form>
