<div class="feedView">

  <!-- Feed Beginning -->
  <div class="large-8 columns feed">

    <div class="row feedpost nullSearch" ng-if="dataReturned()">
      <div>
        <p>Oops!</p>
        <p>Your search returned no results</p>
      </div>
    </div>

    <!-- Post Template -->
    <div class="row feedpost" dir-paginate="post in feed | filter:q | itemsPerPage: pageSize" current-page="currentPage" pagination-id="postsPagination">

      <!-- Voting Section -->
      <div class="large-1 columns small-3">
        <div class="voteDiv">
          <div class="voteDivTop">
            <i ng-if="isLoggedIn()" ng-class="upVoted(post.voted_for) ? 'upVote' : 'nothing'" ng-click="upvote(post)" class="fa fa-arrow-up"></i>
            <i ng-if="!isLoggedIn()" class="fa fa-arrow-up" title="Log in to vote by clicking on Getting Started!"></i>
          </div>
          <span class="votes">{{ post.cached_votes_score }}</span>
          <div class="voteDivBot">
            <i ng-if="isLoggedIn()" ng-class="downVoted(post.voted_for) ? 'downVote' : 'nothing'" ng-click="downvote(post)" class="fa fa-arrow-down"></i>
            <i ng-if="!isLoggedIn()" class="fa fa-arrow-down" title="Log in to vote by clicking on Getting Started!"></i>
          </div>
        </div>
      </div>
      <!-- Post Itself -->
      <div class="large-11 columns pBorder">
        <div class="postBorder"></div>
        <div class="postHead">
          <img class="postAvatar" ng-src="{{ post.user.avatar }}"/>
          <a href="#/profile/{{ post.user_id }}" class="postUser">{{ post.user.username }}</a>
          <span class="thumbTime" ng-if="(post.created_at === post.updated_at)">{{ post.createdAtTime() }}</span>
          <span class="thumbTime" ng-if="(post.created_at !== post.updated_at)">{{ post.updatedAtTime() }} <em>(Updated)</em></span>
        </div>

        <a class="postTitle" href="#/post/{{ post.id }}">{{ post.title }}</a>
        <p class="thumbText">{{ post.content }}</p>
        <p>{{ post.numberOfComments }} comments</p>

          <span class="tagLabel">Tags:</span>
          <div ng-repeat="tag in post.tags">
            <div class="tagDiv">
              <span class="tagText">{{ tag }}</span>
            </div>
          </div>

      </div>
      <div class="postDivider"></div>
    </div>
    <!-- End Post -->

<!--     <div class="text-center">
      <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="path/to/dirPagination.tpl.html" pagination-id="postsPagination"></dir-pagination-controls>
    </div> -->

  </div> <!-- End feed -->


<!-- Filter sidebar -->
<div class="large-4 feedFilter">
  <div class="panel"> <!-- Panel -->

    <!-- Popular Tags -->
    <div class="filterPostsDivider">
      <div class="filterHeadDiv"><span class="filterHead">POPULAR TAGS</span></div>
    </div>
    <div class="tagList">
      <div ng-repeat="tag in tags | limitTo: number">
        <!-- <a href="#/poptags/{{ tag.text }}"> -->
          <div ng-click="addTag( tag )"class="tagDiv">
            <span class="tagText">{{ tag.text }}</span>
          </div>
        <!-- </a> -->
      </div>
    </div>

    <!--Manual Param Entry -->

    <div class="filterPostsDivider">
      <div class="filterHeadDiv"><span class="filterHead">SELECTED TAGS</span></div>
    </div>
    <!-- Tag Section -->
    <tags-input ng-model="searchTags" class="tagSearch">
      <auto-complete source="loadTags($query)"></auto-complete>
    </tags-input>

    <div class="filterPostsDivider xpDivider">
      <div class="filterHeadDiv"><span class="filterHead">XP LEVEL</span></div>
      <select ng-model="xpParam" class="feedSortSelect">
        <option value="" selected>All</option>
        <option value="noob">Noob</option>
        <option value="junior">Junior</option>
        <option value="senior">Senior</option>
      </select>
    </div>

    <div class="filterPostsDivider">
      <div class="filterHeadDiv"><span class="filterHead">SORT BY</span></div>
      <select ng-model="sort" class="feedSortSelect">
        <option value="top" selected>Top</option>
        <option value="new">New</option>
      </select>
    </div>

    <button ng-click="search()" class="tiny radius searchBtn">Submit</button>

    <button ng-click="reset()" class="tiny radius searchBtn">Reset</button>


  </div> <!-- End panel -->
  </div> <!-- End filter sidebar -->
</div>
