<div class="feedView">

  <!-- Feed Beginning -->
  <div class="large-8 columns feed">

    <!-- Post Template -->
    <div class="row feedpost" ng-repeat="post in feed">

      <!-- Voting Section -->
      <div class="large-1 columns small-3">
        <div class="voteDiv">
          <div class="voteDivTop">
            <i ng-if="isLoggedIn()" ng-class="upVoted(post.voted_for) ? 'upVote' : 'nothing'" ng-click="upvote(post)" class="fa fa-arrow-up"></i>
            <i ng-if="!isLoggedIn()" class="fa fa-arrow-up" title="Log in to vote by clicking on Getting Started!"></i>
          </div>
          <span class="votes">{{ post.cached_votes_score }}</span>
          <div class="voteDivBot">
            <i ng-if="isLoggedIn()" ng-class="downVoted(post.voted_for) ? 'downVote' : 'nothing'" ng-click="downvote(post)" class="fa fa-arrow-down"></i>
            <i ng-if="!isLoggedIn()" class="fa fa-arrow-down" title="Log in to vote by clicking on Getting Started!"></i>
          </div>
        </div>
      </div>
      <!-- Post Itself -->
      <div class="large-11 columns pBorder">
        <div class="postBorder"></div>
        <div class="postHead">
          <img class="postAvatar" ng-src="{{ post.user.avatar }}"/>
          <a href="#/profile/{{ post.user_id }}" class="postUser">{{ post.user.username }}</a>
          <span class="thumbTime" ng-if="(post.created_at === post.updated_at)">{{ post.createdAtTime() }}</span>
          <span class="thumbTime" ng-if="(post.created_at !== post.updated_at)">{{ post.updatedAtTime() }} <em>(Updated)</em></span>
        </div>

        <a class="postTitle" href="#/post/{{ post.id }}">{{ post.title }}</a>
        <p class="thumbText">{{ post.content }}</p>
        <p>{{ post.numberOfComments }} comments</p>

          <span class="tagLabel">Tags:</span>
          <div ng-repeat="tag in post.tags">
            <div class="tagDiv">
              <span class="tagText">{{ tag }}</span>
            </div>
          </div>

      </div>
      <div class="postDivider"></div>
    </div>
    <!-- End Post -->


    <div class="pagination-centered"> <!-- Pagination -->
      <pagination total-items="totalItems" page="currentPage"></pagination>
    </div> <!-- End Pagination -->

  </div> <!-- End feed -->


<!-- Filter sidebar -->
<div class="large-4 feedFilter">
  <div class="panel"> <!-- Panel -->

    <div class="filterPostsDivider">
      <div class="filterHeadDiv"><span class="filterHead">SORT BY</span></div>
      <select class="feedSortSelect">
        <option selected>Top</option>
        <option value="new">New</option>
      </select>
    </div>




    <div class="filterPostsDivider">
      <div class="filterHeadDiv"><span class="filterHead">POPULAR TAGS</span></div>
    </div>
    <div class="tagList">
      <div ng-repeat="tag in tags | limitTo: number">
        <a href="#/search/{{ tag.text }}">
          <div class="tagDiv">
            <span class="tagText">{{ tag.text }}</span>
          </div>
        </a>
      </div>
    </div>

    <div class="filterPostsDivider">
      <div class="filterHeadDiv"><span class="filterHead">MULTIPLE TAGS</span></div>
    </div>
    <!-- Tag Section -->
    <tags-input ng-model="searchTags" class="tagSearch">
      <auto-complete source="loadTags($query)"></auto-complete>
    </tags-input>

    <div class="filterPostsDivider xpDivider">
      <div class="filterHeadDiv"><span class="filterHead">XP LEVEL</span></div>
      <select class="feedSortSelect">
        <option selected>All</option>
        <option value="noob">Noob</option>
        <option value="junior">Junior</option>
        <option value="senior">Senior</option>
      </select>
    </div>

    <br/><br/>

    <button ng-click="search(searchTags)" class="tiny radius">Submit</button>

  </div> <!-- End panel -->
  </div> <!-- End filter sidebar -->
</div>
