<div class="feedView">
<!-- <div ng-if="isAuthenticated() && currentUser.username">
  <div class="row">
  </div>
</div> -->

<!-- <div ng-if="!isAuthenticated()">
  <div>
    <h2>CodeBytes</h2>
    <p>This is developer social network is powered by <strong>Satellizer</strong>. To continue, please log in with your Github account</p>
    <p>
      <a class="btn btn-lg btn-success" href="#/login"><i class="ion-log-in"></i> Log in</a>
    </p>
  </div>
</div> -->

  <!-- Feed Beginning -->
  <div class="large-7 columns feed">
    <div class="treeLine"></div>

    <!-- Post Template -->
    <div class="row feedpost" ng-repeat="post in feed">
      <div class="iconDiv">

      </div>
      <!-- Voting Section -->
      <div class="large-1 columns small-3">
        <div class="voteDiv">
          <div class="voteDivTop">
            <i class="fa fa-arrow-up"></i>
          </div>
          <div class="votes"><span>1</span></div>
          <div class="voteDivBot">
            <i class="fa fa-arrow-down"></i>
          </div>
        </div>
      </div>
      <!-- Post Itself -->
      <div class="large-11 columns">
        <div>
          <img class="postAvatar" ng-src="{{ post.avatar }}"/>
          <a href="#/profile/{{ post.user_id }}" class="postUser">{{ post.creator }}</a>
          <span class="thumbTime">{{ post.created_at | date:'short' }}</span>
        </div>
        <p class="thumbText"><strong><a href="#/post/{{ post.id }}">{{ post.title }}</a></strong>{{ post.content }}</p>

      </div>
      <div class="postDivider"></div>
    </div> <!-- End Post -->

  </div> <!-- End feed -->


<div class="large-4 feedFilter"> <!-- Filter sidebar -->
  <div class="panel"> <!-- Panel -->

    <h4 class="filterby">Filter by:</h4>
    <label>Language(s):</label> <!-- Filter by programming language -->
    <div class="checkbox filter">
      <input type="checkbox" name="lang" value="Ruby" id="langRuby"><label for="langRuby">Ruby</label>
    </div>
    <div class="checkbox filter">
      <input type="checkbox" name="lang" value="Python" id="langPython"><label for="langPython">Python</label>
    </div>
    <div class="checkbox filter">
      <input type="checkbox" name="lang" value="JavaScript" id="langJS"><label for="langJS">JavaScript</label>
    </div>
    <div class="checkbox filter">
      <input type="checkbox" name="lang" value="CPlusPlus" id="langCPlusPlus"><label for="langCPlusPlus">C++</label>
    </div>
    <div class="checkbox filter">
      <input type="checkbox" name="lang" value="CSharp" id="langCSharp"><label for="langCSharp">C#</label>
    </div>
    <div class="checkbox filter">
      <input type="checkbox" name="lang" value="ObjectiveC" id="langObjectiveC"><label for="langObjectiveC">Objective-C</label>
    </div>
    <div class="checkbox filter">
      <input type="checkbox" name="lang" value="SQL" id="langSQL"><label for="langSQL">SQL</label>
    </div>
    <div class="checkbox filter">
      <input type="checkbox" name="lang" value="PHP" id="langPHP"><label for="langPHP">PHP</label>
    </div>
    <div class="checkbox filter">
      <input type="checkbox" name="lang" value="Java" id="langJava"><label for="langJava">Java</label>
    </div>
    <div class="checkbox filter">
      <input type="checkbox" name="lang" value="C" id="langC"><label for="langC">C</label>
    </div> <!-- Filter by programming language -->

    <hr/>

    <label>CodeByter Expertise Level:</label> <!-- Filter by expertise level -->
    <div class="radiobtn">
      <input type="radio" name="expertiselvl" value="Noob" id="nooblvl"><label for="nooblvl">Noob</label>
    </div>
    <div class="radiobtn">
      <input type="radio" name="expertiselvl" value="Intermediate" id="intermedlvl"><label for="intermedlvl">Intermediate</label>
    </div>
    <div class="radiobtn">
      <input type="radio" name="expertiselvl" value="Advanced" id="advancedlvl"><label for="advancedlvl">Advanced</label>
    </div>
    <div class="radiobtn">
      <input type="radio" name="expertiselvl" value="Expert" id="expertlvl"><label for="expertlvl">Expert</label>
    </div>

    <br/><br/>

    <button class="tiny radius">Submit</button>

  </div> <!-- End panel -->
  </div> <!-- End filter sidebar -->
</div>
