<div class="small-4 large-centered columns signup">

  <form>
    <fieldset>
      <legend>Sign Up</legend>

      <label>First Name
        <input id="firstName" type="text" ng-model="user.firstName" placeholder="First Name">
      </label>

      <label>Last Name
        <input id="lastName" type="text" ng-model="user.lastName" placeholder="Last Name">
      </label>

      <label>Email
        <input id="email" type="text" ng-model="user.email" placeholder="Email">
      </label>

      <label>Username
        <input id="userName" type="text" ng-model="user.userName" placeholder="Username">
      </label>

      <label>Password
        <input id="password" type="password" ng-model="user.password" placeholder="Email">
      </label>

      <label>Confirm Password
        <input id="passConfirm  " type="password" ng-model="user.passConfirm" placeholder="Email">
      </label>

      <button class="small-12 large-centered columns">Sign Up</button>

    </fieldset>
  </form>

</div>

