<div class="row">

  <div class="large-9 columns" role="content">
    <article>
      <h3><a href="#">{{ post.title }}</a></h3>


      <div>
        <img class="spAvatar" ng-src="{{ post.user.avatar }}">
        <a href="#/profile/{{ post.user.id }}">{{ post.user.username }}</a>
        <span ng-if="(post.created_at === post.updated_at)">{{ post.createdAtTime() }}</span>
        <span ng-if="(post.created_at !== post.updated_at)">{{ post.updatedAtTime() }} <em>(Updated)</em></span>
      </div>

      <br>

      <div class="row">
        <div class="large-10 columns">
          <p>{{ post.content }}</p>
        </div>
      </div>

      <gist id="{{ '' + post.gist_id }}"></gist>
      <div>{{ post.gist_id }}</div>
      <!-- <gist id="c290b0a928027e9b4e76"></gist> -->


    </article>

    <div ng-if="isCurrentUser()">
      <a href="#/edit/{{ post.id }}" class="button tiny radius">Edit</a>
      <a href="#" class="button tiny radius" ng-click="deletePost()">Delete</a>
    </div>

    <hr><br>

    <form class="addComm" ng-if="isLoggedIn()" name="commentForm"> <!-- Add Comment -->
      <textarea id="commentInput" ng-model="comment.content" placeholder="Add your comment"></textarea>
      <br>
      <a href="#" class="button tiny radius addcommentbtn" ng-click="addComment(comment)">Submit</a>
    </form> <!-- End Add Comment -->

    <div class="addComment" ng-if="!isLoggedIn()"> <!-- User Not Logged In - Comment Area -->
      <p><a href="#/login">Log in</a> through Github to start commenting!</p>
    </div> <!-- End User Not Logged In - Comment Area -->

    <collection collection='commentTree'></collection>
  </div>


  <aside class="large-3 columns">
    <h5>Similar Posts:</h5>
    <ul class="side-nav" ng-repeat="post in posts | limitTo:quantity">
      <li><a href="#/post/{{ post.id }}">{{ post.title }}</a></li>
      <li><span>Created: {{ post.created_at | date:'short' }}</span></li>
      <li><span>{{ post.user.username }}</span></li>
    </ul>
  </aside>

</div>
