<h2 class="aboutheader">Under the Hood of CodeBytes:</h2>

<div class="large-12 columns">
  <div class="large-6 columns abouttech">
    <h4>Front-end technology</h4>
    <ul>
      <li><a href="">placeholder</a></li>
      <li><a href="">placeholder</a></li>
      <li><a href="">placeholder</a></li>
      <li><a href="">placeholder</a></li>
      <li><a href="">placeholder</a></li>
      <li><a href="">placeholder</a></li>
      <li><a href="">placeholder</a></li>
    </ul>
  </div>

  <div class="large-6 columns abouttech">
    <h4>Back-end technology</h4>
    <ul>
      <li><a href="">placeholder</a></li>
      <li><a href="">placeholder</a></li>
      <li><a href="">placeholder</a></li>
      <li><a href="">placeholder</a></li>
      <li><a href="">placeholder</a></li>
      <li><a href="">placeholder</a></li>
      <li><a href="">placeholder</a></li>
    </ul>
  </div>
</div>
