<div class="small-11 small-centered columns profile">
  <div class="outline">

    <div class="profilePortraitDiv">
      <!-- <i class="fa fa-user fa-5x profPortrait"></i> -->
      <img src="{{ thisUser.avatar }}">
    </div>

    <span class="profileTitle">{{ thisUser.username }}</span>
    <br>
    <span>{{ thisUser.company }}</span>
    <br>
    <span>{{ thisUser.location }}</span>
    <br>
    <a href="{{ currentUser.blog }}">{{ thisUser.blog }}</a>

    <div class="spaceDiv"></div>

    <div class="stats">
      <div class="profSection posts">
        <span>POSTS</span>
        <span id="postNumber">{{ postNumber }}</span>
      </div>

      <div class=" profSection codeBits">
        <span>BITS</span>
        <span id="bitsNumber">1,076</span>
      </div>

      <div class="profSection profLinks">
        <span>LINKS</span>
        <a href="{{ currentUser.url }}"><i class="fa fa-github-square"></i></a>
        <a href=""><i class="fa fa-linkedin-square"></i></a>
      </div>
    </div>
  </div>

  <div class="recentPostsDivider">
    <div class="recentPostsHeader"><span>RECENT POSTS</span></div>
  </div>

  <div class="recentPosts" ng-repeat="post in userPosts">
    <div class="large-12 columns profilePosts">
      <div>
        <span class="profileFeed">Posted:</span>
        <span class="profileFeed">{{ post.created_at | date:'medium' }}</span>
      </div>
      <p class="thumbText"><strong><a href="#/post/{{ post.id }}">{{ post.title }}</a></strong>{{ post.content }}</p>
    </div>
  </div>


</div>
