<!DOCTYPE html>
<html>
<head>
  <title>CodeBytes</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Vendor CSS -->
  <link href="http://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="css/vendor/foundation.css">
  <link rel="stylesheet" href="css/vendor/font-awesome.css">
  <link rel="stylesheet" href="css/vendor/normalize.css">

  <!-- App CSS -->
  <link rel="stylesheet" href="css/main.css">
<!--   <link rel="stylesheet" href="css/medium.css" media="(min-width: 426px)"> -->
  <link rel="stylesheet" href="css/mobile.css" media="(max-width: 425px)">
</head>

<body ng-app="CodeBytes">

  <nav ng-controller="NavController">
    <div class="topSpace"></div>
    <div class="navDiv">
      <a class="logo" href="#/">CodeBytes</a>
      <a class="link" href="#/topposts">Top Posts</a><span ng-if="!isAuthenticated()">|</span>
      <a class="link" href="#/login" ng-if="!isAuthenticated()">Getting Started</a>
      <a class="postLink" href="#/addpost">
        <span class="add">&#123;</span>
        <span class="add">++</span>
        <span class="add">&#125;</span>
      </a>

     <div class="ddPoint">
        <a class="avatarDiv" ng-href="{{ avatarLink() }}" ng-bind-html="avatar()"></a>
        <ul class="dropDown" ng-class="isAuthenticated() ? 'drop' : 'x'">
          <li><div class="dropLinkDiv"><a class="dropLink" href="/#/myprofile">Profile</a></div></li>
          <li><div class="dropLinkDiv"><a class="dropLink" href="/#help">Help</a></div></li>
          <li><div class="dropLinkDiv"><a class="dropLink" href="/#settings">Settings</a></div></li>
          <li><div class="dropLinkDiv logout"><a class="dropLink" ng-click="logout()" href="">Logout</a></div></li>
        </ul>
      </div>
    </div>

  </nav>

  <div class="container" ui-view></div>

  <footer class="row">
    <div class="large-12 columns footTop">
      <hr/>
      <a class="link fLink" href="#/aboutteam">Our Team</a><span class="fDivider">|</span>
      <a class="link fLink" href="#/tech">About the Tech</a>

    </div>

    <div class="large-12 columns footBottom">
      <div class="large-5 copy">
        <span class="fText">© 2015 CodeBytes</span>
      </div>
      <div class="large-7 columns poweredBy">
        <a href="https://www.angularjs.org/"><img class="foot" src="images/angularjs.png"></a>
        <a href="http://rubyonrails.org/"><img class="foot" src="images/rails.png"></a>
        <a href="https://github.com/sahat/satellizer"><img class="foot" src="images/satellizericon.png"></a>
        <a href="https://github.com/"><img class="foot" src="images/github.png"></a>
        <a href=""><span class="pb fText">Powered by:</span></a>
      </div>
    </div>

  </footer>

  <!-- VENDOR -->
  <script src="js/vendor/jquery.js"></script>
  <script src="js/vendor/underscore.js"></script>
  <script src="js/vendor/foundation.js"></script>
  <script src="js/vendor/angular.js"></script>
  <script src="js/vendor/angular-ui-router.js"></script>
  <script src="js/vendor/angular-messages.js"></script>
  <script src="js/vendor/satellizer.js"></script>
  <script src="js/vendor/angular-gist-embed.js"></script>
  <script src="js/vendor/moment.js"></script>


  <!-- MAIN -->
  <script src="js/main.js"></script>

  <!-- POSTS -->
  <script src="js/posts/addpost.controller.js"></script>
  <script src="js/posts/feed.controller.js"></script>
  <script src="js/posts/singlepost.controller.js"></script>
  <script src="js/posts/post.service.js"></script>

  <!-- USERS -->
  <script src="js/users/user.controller.js"></script>
  <script src="js/users/nav.controller.js"></script>
  <script src="js/users/user.service.js"></script>


</body>
</html>
