.container {
  position: relative;
}

// Feed view
.recentPosts {
  margin: 0 10px;
}

.panel {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  min-height: 67vh;
  padding-bottom: 0;
}

.tagList {
  height: 14vh;
}

// Needed to make sure posts
// display beneath filter
.pushdown {
  display: block;
  height: 30vh;
}

.feed {
  float: left;
}

.feedpost {
  float: left;
  padding-left: 30px;
}

.feedSortSelect {
  left: 80%;
}

.postDivider {
  position: absolute;
  bottom: -20px;
  left: 160px;
  width: 70%;
  height: 1px;
  background-color: RGBA(240, 240, 240, 1);
  margin-bottom: 60px;
}

// Add/Edit Post View
.apppostform {
  margin: 20px 30px;
}


// My Profile
.recentPosts {
  overflow: hidden;
  max-width: 600px;
  margin: 0 auto;
}

// Single Post View
.singlepost {
  padding: 0 100px;
}
