.recentPosts {
  margin: 0 10px;
}

.panel {
  position: absolute;
  top: 0;
  left: 0;
}

.tagList {
  height: 100px;
}

.feed {
  margin-top: 0px;
}


.feedpost {
  position: inherit;
  padding-left: 30px;
}
