.container {
  position: relative;
}

// Feed view
.recentPosts {
  margin: 0 10px;
}

.panel {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  min-height: 67vh;
  padding-bottom: 0;
}

.tagList {
  height: 14vh;
}

// Needed to make sure posts
// display beneath filter
.pushdown {
  display: block;
  height: 57vh;
}

.feed {
  float: left;
}

.feedpost {
  float: left;
  padding-left: 30px;
}

// Add Post View
.inputDiv {
  margin-left: 0;
}

#titleInput {
  margin-left: 0;
}
