body {
  min-width: 250px;
}

// Feed View

.sidebar {
  display: none;
}

.feedFilter {
  display: none;
}

.feedpost {
  padding-left: 30px;
}

.postDivider {
  display: none;
}

.pushdown {
  display: none;
}

// Add/Edit Post View
.filterHeadDiv {
  display: block;
}

.addPostDiv {
  display: inline-block;
}

.inputDiv, .tagsDiv {
  display: block;
  margin-top: 35px;
  border: 1px RGBA(240, 240, 240, 1) solid;
}

.feedSortSelect {
  left: 70%;
}

.tagsInput {
  margin-top: 0;
}

.tagsDiv {
  border: none;
}

// Single Post View
.singlepost {
  padding: 0 20px;
}
